

.carousel-inner{
    max-height: 350px;
    width: 80% !important;
    margin-left: 150px;
   
  }

.carousel-item > img{
    height: 100% !important;
    width:  95% !important;
   
}


.products2 .image1{
    width: 188px !important;
    height: 150px;
    
}

.float-item > img{
    height: 25% !important;
    width:  25% !important;
    float: right;
}
.navbar {
    background: rgb(6, 89, 183);
    height: 62px;
  }

.navbar-brand img {
    margin-top: 85px;
}
  
  ul > li a{
    color: white !important;
    margin-top: 85px;
  }



.categoryName {
    margin: 10px 2%;
    color: rgb(11, 139, 199);
    padding: 10px;
}

.categories{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    gap: 50px;
    background-color: rgb(225, 233, 235);
    padding: 20px;
    
}

nav li {
    list-style: none;
}

.products2{
    margin-right: 20px;
    margin-left: 20px;
    margin-top:  20px;
    position: relative;
    overflow: hidden;
    border-style: ridge;
    padding: 10px 10px 10px 10px;
  
}


.button:active{
    background-color: rgb(121, 235, 121);
}

.button{
    margin-left: 39px;
    background-color: rgb(198, 243, 243);
    color: rgb(43, 103, 214);
    border-color: rgb(53, 156, 240);
     
}



.footer{
    margin: 30px 2%;
    color: rgb(255, 255, 255);
    background-color: rgb(103, 170, 247);
    padding: 10px;
}



.add-cart {
    position: absolute;
    width: 100%;
    background-color: darkgray;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    cursor: pointer;
    text-align: center;
}

.products2:hover .cart1,
.products2:hover .cart2,
.products2:hover .cart3,
.products2:hover .cart4,
.products2:hover .cart5,
.products2:hover .cart6,
.products2:hover .cart7,
.products2:hover .cart8 {
    bottom: 50px;
    opacity: 1;
    padding: 10px;
    text-decoration: none;
}

.container,
.products-container {
display: flex;
justify-content: center;
flex-wrap: wrap;
margin-top: 15px;
padding-bottom: 100px;
}

footer {
    background: #2e6f88;
  }

/*-- Cart Page */

.products-container{
    max-width: 650px;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 5px;
}




.product-header {
    width: 100%;
    max-width: 650px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 4px solid lightgray;
    margin: 0 auto;
}

.product-title {
    width: 45%;
    margin-top: 55px;
    
}

.price{
    width:15%;
    
    display:flex;
    align-items: center;
    margin-top: 55px;
    margin-bottom: 50px ;
}

.quantity {
    width: 30%;
    /*border-bottom: 1px solid lightgray;*/
    display: flex;
    align-items:center;
    margin-top: 55px;
    margin-bottom: 50px ;
}

.total {
    width: 10%;
    height: 20px;
    display: flex;
    align-items: center;
    margin-top: 55px;
}

.products-container button{
   font-size: 15px;
   color: white;
   margin-left: 10px;
   margin-right: 10px;
   cursor: pointer; 
}

.product {
    width: 45%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 10px 0;
    border-bottom: 1px solid gray;

}

.product img {
    width: 158px !important;
    height: 120px;
    margin-right: 10px ;
    margin-bottom: 10px;
}

.basketTotalContainer{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px 0;
    margin-left: 200px;
}

.basketTotalTitle{
    width: 40%;

}

.basketTotal{
    width:20%;
}

.products{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.products img{
    width: 75px;
    margin-top: 5px;
}

.checkout button{
    margin-left: 900px;
    margin-bottom: 40px;
}


/* Footer Style*/
